.contact {
    display: flex;
    justify-content: space-between;

    .contact-body {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        .locate {
            display: flex;
            margin-top: 40px;

            .locate-details {
                margin-left: 10px;

                h4 {
                    font-size: 18px;
                    font-weight: 700;
                }

                a {
                    display: inline-block;
                    margin: 5px 0;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }


    .form-section {
        background: red;
        max-width: 400px;
        width: 100%;
        padding: 45px 30px;
        border-radius: 5px;

        p {
            color: var(--white);
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            input {
                box-sizing: border-box;
                width: 93%;
                height: 45px;
                color: #fff;
                padding: 0 15px;
                border-radius: 5px;
                border: 1px solid #fff;
                background: none;
                margin-bottom: 15px;
                outline: none;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5em;
                color: var(--white);
                transition: all 0.5s ease;

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5em;
                    color: var(--white);
                }

                &:focus {
                    scale: 1.1;
                }
            }

            textarea {
                box-sizing: border-box;
                width: 93%;
                height: 120px;
                padding: 15px;
                color: #fff;
                border-radius: 5px;
                border: 1px solid #fff;
                background: none;
                margin-bottom: 15px;
                outline: none;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5em;
                color: var(--white);
                transition: all 0.5s ease;

                &::placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5em;
                    color: var(--white);
                }

                &:focus {
                    scale: 1.1;
                }
            }

            button {
                width: 100%;
                color: var(--red);
                background: var(--white);
                padding: 10px 30px 12px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                border: none;
                border-radius: 60px;
                transition: ease-out .5s;
                width: 93%;

                &:hover {
                    background: var(--blue);
                    color: var(--white);
                }
            }
        }
    }
}