.extras {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .grid {
        display: grid;
        grid-template-columns: 500px 500px;
        place-content: center;
        gap: 50px;
        margin-top: 50px;

        .grid-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            h2 {
                font-size: 30px;
                text-decoration: underline;
                margin-bottom: 20px;
                text-align: center;
            }

            div {
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px solid var(--blue);
                width: 100%;

                p {
                    text-align: center;
                }

                &:nth-child(2) {
                    border-top: none;
                }
            }

        }

        .grid-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            h2 {
                font-size: 30px;
                text-decoration: underline;
                color: var(--red);
                margin-bottom: 20px;
            }

            div {
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px solid var(--red);
                width: 100%;

                p {
                    text-align: center;
                }

                &:nth-child(2) {
                    border-top: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .extras {
        margin-top: 10px;

        .grid {
            grid-template-columns: 45% 45%;
            gap: 20px;
            margin-top: 0px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .extras {
        margin-top: 10px;

        .grid {
            grid-template-columns: 45% 45%;
            gap: 20px;
            margin-top: 0px;

            .grid-1 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}

@media screen and (max-width: 850px) {
    .extras {
        margin-top: 50px;

        .grid {
            grid-template-columns: 100%;
            gap: 0px;
            margin-top: 0px;

            .grid-1 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .extras {
        margin-top: 50px;

        .grid {
            grid-template-columns: 100%;
            gap: 0px;
            margin-top: 0px;
            height: 100%;

            .grid-1 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}

@media screen and (max-width: 450px) {
    .extras {
        margin-top: 50px;

        .grid {
            grid-template-columns: 100%;
            gap: 0px;
            margin-top: 0px;
            height: 100%;

            .grid-1 {
                margin-top: 30px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;
                margin-bottom: 50px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}

@media screen and (max-width: 375px) {
    .extras {
        margin-top: 50px;

        .grid {
            grid-template-columns: 100%;
            gap: 0px;
            margin-top: 0px;

            .grid-1 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}

@media screen and (max-width: 320px) {
    .extras {
        margin-top: 50px;

        .grid {
            grid-template-columns: 100%;
            gap: 0px;
            margin-top: 0px;

            .grid-1 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }
            }

            .grid-2 {
                margin-top: 20px;

                h2 {
                    margin-bottom: 0px;
                }

            }
        }
    }
}