header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 20px 0px;

    .header-left {

        h1 {
            color: var(--red);
            font-size: 40px;
            line-height: 1em;
            font-weight: 800;
            letter-spacing: 1px;
            font-style: italic;

            span {
                color: var(--blue);
            }
        }
    }

    .header-right {
        width: 60%;
        display: flex;
        justify-content: space-between;

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--blue);
                width: 40px;
                height: 40px;
                border-radius: 100%;
            }

            div {
                margin-left: 10px;

                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--blue);

                    &:nth-child(2) {
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--blue);
                    }
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        justify-content: space-between;

        .header-left {
            padding-left: 20px;

            h1 {
                text-align: left;
                font-size: 40px;
                line-height: 1.5em;
            }
        }

        .header-right {
            padding-right: 20px;
            justify-content: flex-end;

            .icon-container {
                margin-right: 10px;

                .icon {
                    width: 30px;
                    height: 30px;
                }

                div {
                    margin-left: 10px;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--blue);

                        &:nth-child(2) {
                            font-size: 12px;
                        }
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 870px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;

            h1 {
                text-align: center;
                font-size: 40px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;
            padding: 0;

            h1 {
                text-align: center;
                font-size: 40px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;
            padding: 0;

            h1 {
                text-align: center;
                font-size: 40px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;
            padding: 0;

            h1 {
                text-align: center;
                font-size: 40px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;
            padding: 0;

            h1 {
                text-align: center;
                font-size: 37px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-left {
            width: 100%;
            padding: 0;

            h1 {
                text-align: center;
                font-size: 35px;
                line-height: 1.5em;
            }
        }

        .header-right {
            display: none;
        }
    }
}