.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .review-slider {
        width: 100%;
        padding: 50px 0px;

        .review {
            max-width: 300px;
            width: 100%;
            padding: 20px 15px;
            background: var(--red);
            border-radius: 10px;

            p {
                max-width: 270px;
                color: var(--white);
            }
        }

        .slick-dots {
            bottom: -50px !important;
        }
    }
}

@media screen and (max-width: 320px) {
    .reviews {

        .review-slider {
            width: 100%;
            padding: 20px 0px;

            .review {
                max-width: 300px;
                width: 100%;
                padding: 20px 15px;
                background: var(--red);
                border-radius: 10px;

                p {
                    max-width: 270px;
                    color: var(--white);
                }
            }

            .slick-dots {
                bottom: -50px !important;
            }
        }
    }
}