@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #202C45;
    --red: #E81C2E;
    --white: #ffffff;
    --global: #444444;
    --border-color: #ffffff1a;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow', sans-serif;
    color: var(--global);
}

input,
textarea {
    font-family: 'Barlow', sans-serif;
}

body {
    position: relative;
}

section {
    position: relative;
    padding: 65px 0px 0px;
    z-index: 1;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--blue);
}

h3 {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--red);
    margin-bottom: 20px;
}

h4 {
    color: var(--blue);
}

p {
    line-height: 1.5em;
}

.slick-dots li button:before {
    font-size: 15px !important;
}

.slick-dots li.slick-active button:before {
    color: var(--red) !important;
}

.slick-dots li button:before {
    color: var(--white) !important;
}

.slick-dots li button:before {
    color: var(--blue) !important;
}

.scroll-to-top {
    border-radius: 50% !important;
    background: var(--blue) !important;
    width: 50px !important;
    height: 50px !important;

    svg {
        fill: var(--red) !important;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--red);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}

@media screen and (max-width: 720px) {
    section {
        padding: 40px 0px 0px;
    }

    h2 {
        font-size: 35px;
        text-align: center;
    }

    h3 {
        font-size: 13px;
    }

    .scroll-to-top {
        right: 10px !important;
        bottom: 10px !important;
    }
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.max-width {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 23px;
    height: 0px;
    width: 55px;
    border-bottom: 2px solid var(--red);
}

@media screen and (max-width: 1280px) {
    .max-width {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
}