@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #202C45;
    --red: #E81C2E;
    --white: #ffffff;
    --global: #444444;
    --border-color: #ffffff1a;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow', sans-serif;
    color: var(--global);
}

body {
    position: relative;
}

section {
    position: relative;
    padding: 120px 0;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    section {
        padding: 60px 0;
    }
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.max-width {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1280px) {
    .max-width {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
}