@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #202C45;
    --red: #E81C2E;
    --white: #ffffff;
    --global: #444444;
    --border-color: #ffffff1a;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow', sans-serif;
    color: var(--global);
}

a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.max-width {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}